* {
    box-sizing: border-box;
}

.mountains {
    width: 300px;
    height: 500px;
    text-align: center;
    color: white;
    font-size: 32px;
    padding-top: 32px;
    font-weight: 700;
    background-image: url(./nature.jpeg);
    background-size: cover;
    background-position: center;
}