.dropdown {
    margin: 16px;
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: darkblue;
    opacity: 0.8;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
}

.menu-list {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: lightcyan;
    min-width: 120px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-item {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.menu-item:hover {
    background-color: ghostwhite;
}

.dropdown:hover .menu-list {
    display: block;
}

.dropdown:hover .menu-button {
    opacity: 1;
}