* {
  box-sizing: border-box;
  font-style: italic;
  font-family: consolas;
  margin: 0px;
  padding: 0px;
  
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(113, 23, 165, 0.514);
}

.main-container {
  margin: 50px;
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#3903fcf6, #0b011d);
  border-radius: 15px;
}

.buttons-container {
  width: 100%;
  height: 90%;
}

.button-row {
  display: flex;
  justify-content: space-around;
}

.btn {
  height: 56px;
  width: 66px;
  margin: 2px;
  border-radius: 16px;
  font-size: 15pt;
  background: linear-gradient(180deg, #f70606, #eaee06);
  box-shadow: inset 3px 0 1px rgba(12, 12, 12, 0.87), 
  inset 0 -5px 19px rgba(12, 27, 235, 0.88), 0 0 0 2px rgb(47 46 73 / 75%), 0px 1px 0px rgb(241 240 243 / 40%)
}

.btn:hover,
.input:hover {
  background: rgb(75, 238, 10);
  cursor: pointer;
}

.display {
  width: 98%;
  height: 10%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 100%;
  width: 100%;
  text-align: right;
  font-size: 23pt;
  border-radius: 10px;
  background-color: #a7af7c;
  styl;
}

.zero {
  width: 217px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn:active {
background: #ff0404;
}