* {
  box-sizing: border-box;
  font-style: italic;
  font-family: consolas;

}
body {
  background-color: rgba(113, 23, 165, 0.514);
  margin: 0px;
  padding: 0px;
  height: 100vw;
}

.main-container {
  height: 100vw;
  margin: 400px;
}
 .calculator-container{
  margin: 50px auto 0;
  width: 300px;
  height: 430px;
  background: linear-gradient(#3903fcf6, #0b011d);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: flex;
  width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  height: 66px;
  width: 66px;
  margin: 3px;
  
  border-radius: 16px;
  font-size: 25px;
  background: linear-gradient(180deg, #f70606, #eaee06);
  box-shadow: inset 3px 0 1px rgba(12, 12, 12, 0.87),
    inset 0 -5px 19px rgba(12, 27, 235, 0.88), 0 0 0 2px rgb(47 46 73 / 75%), 0px 1px 0px rgb(241 240 243 / 40%)
}

.btn:hover,
.input:hover {
  background: rgb(75, 238, 10);
  cursor: pointer;
}

.input {
  height: 53px;
  width: 94%;
  text-align: right;
  font-size: 30px;
  border-radius: 10px;
  background-color: #a7af7c;
  padding-right: 5px;
  margin-bottom: 6px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn:active {
  background: #ff0404;
}

.calculator__container {
  width: 300px;
}

table {
  table-layout: inherit;
}

.equal {
  height: 140px;
  z-index: 1;
  margin: -64px 3px 0px 3px;
}

.zero {
  width: 138px;
}

.index {
  opacity: 0%;
}