.header-text {
    font-size: 96px;
    text-align: center;
    margin: 0;
    padding: 16px;
    font-family: Arial;
    text-transform: uppercase;
    background: linear-gradient(45deg, yellow, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}