html {
    font-family: Verdana;
}
h1 {
    font-size: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50vw;
    margin: auto;
}

div {
    background-color: coral;
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 200px;
    line-height: 200px;
}